.about-wrapper {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
	justify-content: center;
	margin-bottom: 100px;
}

.about-img img {
	max-width: 40vw;
	padding-left: 10px;
}

.about-text p {
	font-size: 1.2em;
	font-weight: 700;
	padding-left: 20px;
	padding-right: 10px;
	text-align: center;
	justify-content: center;
}

.about-skills p {
	font-size: 1.2em;
	font-weight: 700;
	padding-left: 20px;
	padding-right: 10px;
	text-align: center;
	border-bottom: 4px solid #121212;
	justify-content: center;
}

.about-skills-items i {
	justify-content: center;
	align-items: center;
	padding: 20px;
	font-size: 50px;
}

@media screen and (max-width: 750px) {
	.about-text p {
		font-size: 0.8em;
	}
	.about-skills-items {
		text-align: center;
		justify-content: center;
	}
	.about-skills-items i {
		align-items: center;
		justify-content: center;
		font-size: 50px;
	}
}
